# gitignore

# ignore nginx source
src/nginx/nginx-*

# ignore go binary
simulations/app
src/server/app

# ignore simulation files
simulations/data/ab/*/*-*.tsv
simulations/logs/simulation-*.log

simulations/plots/tmp/*

# misc
nohup.out
simulations/.ipynb*
.DS_Store
