# gitignore

# ignore nginx source
src/nginx/nginx-*

# ignore go binary
simulations/app
src/server/app

# ignore simulation files
simulations/ab_data/*/*-*.tsv
simulations/logs/simulation-*.log

# misc
simulations/.ipynb*
.DS_Store
