# gitignore

# ignore nginx source
src/nginx/nginx-*

# ignore go binary
simulations/app
src/server/app

# ignore simulation files
simulations/ab_data/*/*-*.tsv
simulations/logs/simulation-*.log

simulations/plots/*

# only include the plots we want
!simulations/plots/interesting.png
!simulations/plots/A

# misc
simulations/.ipynb*
.DS_Store
